<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>845726651065-r38893apt2nomiv6fi8smi9c27uhamf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845726651065-r38893apt2nomiv6fi8smi9c27uhamf7</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ8jJ1crSUMLbp_Tl3NTY_2uvCmbrUD24</string>
	<key>GCM_SENDER_ID</key>
	<string>845726651065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexters.goal</string>
	<key>PROJECT_ID</key>
	<string>goal-app-798dc</string>
	<key>STORAGE_BUCKET</key>
	<string>goal-app-798dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845726651065:ios:39777d688c6f8950</string>
	<key>DATABASE_URL</key>
	<string>https://goal-app-798dc.firebaseio.com</string>
</dict>
</plist>